/* =========================================================
   LAYOUT
   ========================================================= */

.layout-logado {
    width: 100%;
    min-height: 100vh;

    display: flex;

    background: #050505;
}


/* =========================================================
   CONTEÚDO QUANDO ESTÁ LOGADO
   ========================================================= */

.conteudo-logado {
    flex: 1;

    min-width: 0;
    min-height: 100vh;

    margin-left: 250px;

    box-sizing: border-box;

    background: #050505;
}


/* =========================================================
   LAYOUT PÚBLICO
   ========================================================= */

.layout-publico {
    width: 100%;
    min-height: 100vh;

    background: #050505;
}

.conteudo-publico {
    width: 100%;
    min-height: 100vh;

    box-sizing: border-box;
}


/* =========================================================
   TABLET
   ========================================================= */

@media (max-width: 900px) {

    .conteudo-logado {
        margin-left: 220px;
    }

}


/* =========================================================
   MOBILE
   ========================================================= */

@media (max-width: 700px) {

    .conteudo-logado {
        margin-left: 70px;
    }

}


