* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  background: black;
  position: relative;
  overflow: hidden;
}

/* LADO ESQUERDO */
.left-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  color: white;
  z-index: 1;
}

.left-form h1 {
  font-size: 40px;
}

.left-form p {
  color: #aaa;
  margin-bottom: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

/* INPUT */
.input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #111;
  color: white;
  transition: 0.2s;
}

.input:focus {
  border-color: #d4af37;
}

/* 🔥 erro */
.errorInput {
  border: 1px solid red !important;
  box-shadow: 0 0 5px red;
}
/* BOTÃO */
button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  background: #d4af37;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #c19b2e;
  transform: scale(1.03);
}

/* PREVIEW */
.preview {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 5px;
}

/* FUNDO DIREITO */
.right-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(135deg, #000, #111, #d4af37);
}

/* TEXTO DIREITA */
.right-content {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.right-content h2 {
  font-size: 60px;
}

.right-content p {
  color: #ccc;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .left-form {
    width: 100%;
    padding: 30px;
    align-items: center;
    text-align: center;
  }

  form {
    width: 100%;
  }

  .right-bg,
  .right-content {
    display: none;
  }

  .upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* imagem */
.preview {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}


.error {
  color: red;
  font-size: 12px;
}

@media (max-width: 768px) {

  .left-form {
    width: 100%;
    padding: 20px;
    align-items: center;
  }

  form {
    width: 100%;
    max-width: 350px;
  }

  input {
    width: 100%;
  }

  /* upload fica em coluna no mobile */
  .upload-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .preview {
    margin-top: 5px;
  }

  button {
    width: 100%;
  }

  .right-bg,
  .right-content {
    display: none;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
}
}